<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.flow.main.mapper.EmployeeMapper">
    <select id="queryUserById" parameterType="integer" resultType="com.flow.main.entity.Employee">
        select * from tbl_employee where id = ${id}
    </select>

    <select id="queryUserList" resultType="com.flow.main.entity.Employee">
        select * from tbl_employee
    </select>

    <select id="checkEmployee" resultType="com.flow.main.entity.Employee"
            parameterType="com.flow.main.entity.Employee">
        select  * from tbl_employee where empName = #{empName}
    </select>
</mapper>